.nav-link{
  a{
    text-decoration: none;
    color: black;
    opacity: 1;
  }
  a:hover {
    opacity: 0.6;
    transition: 0.5s;
  }
}
.navbar-brand{
  a{
    text-decoration: none;
    color: black;
    opacity: 1;
  }
  a:hover {
    opacity: 0.6;
    transition: 0.5s;
  }
}
